

body {
  font-family: monospace;
  background-color: lightgrey;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

.interface {
  position: fixed;
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

.interfaceTitle {
  border-bottom: 1px solid black;
  margin-bottom: 0.6vh;
}

.interface > * {
  padding: 1vw;
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;
  font-size: 0.75vw;
}

.interface > div:last-of-type {
}

a {
  text-decoration: none;
  color: lightgreen;
}

input[type="file"], input[type="number"] {
  border: 1px solid black;
  width: 100%;
}

button {
  border-radius: 50px;
  background-color: black;
  color: white;
  border: 0px solid white;
  margin-top: 0.5vh;
  font-family: monospace;
}

button:hover {
  background-color: lightgreen;
  color: black;
}

label {
  margin-bottom: 1vh;
}

textarea {
  width: 100%;
  margin-top: 1vh;
  height: 15vh;

}

.poster {
  padding: 2vh;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 25vw;
}

#knit {
  zoom: 400%;
}

#export {
  position: fixed;
  top: 5vh;
  right: 2vw;
  background-color: white;
  color: black;
  padding: 1vw;
  border-radius: 100px;
}

#download {
  position: fixed;
  top: 15vh;
  right: 2vw;
  background-color: white;
  color: black;
  padding: 1vw;
  border-radius: 100px;
}

#export:hover, #download:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
  font-family: monospace;
}












